.Acceuil{
    background-image: url(../public/image/pokemon.jpg)!important;
}

.Capture img{
    width: 100%;
}
.normal{
    width: 100%;
}
.animated{
    width: 70%;
}
.bouttonCap{
    width: 100%;
}

.pokedex{
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}