



.Acceuil{
    background-image: url(../public/image/pokemon.jpg)!important;
}

.Capture{
    background-image: url(../public/image/039.jpg)!important;
    width: 100%;
}

Row{
    align-items: center;
}